/* Default styles */

#bgc {
    height: 800px;
    background-color: #080710;
  }
  
  .background {
    width: 430px;
    height: 480px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  
  .background .shape {
    height: 170px;
    width: 170px;
    position: absolute;
    border-radius: 50%;
  }
  
  .shape:last-child {
    background: linear-gradient(#ff512f, #f09819);
    right: -180px;
    bottom: -230px;
  }
  
  .shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -60px;
    top: -50px;
  }
  
  #loginform {
    height: 650px;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    border-radius: 10px;
    top: 15%;
    left: 35%;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 8.6);
    padding: 0px 35px;
  }
  
  form * {
    font-family: "poppins" sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
  
  form h3 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
  }
  
  label {
    display: block;
    font-size: 16px;
    font-weight: 500;
  }
  
  input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }
  
  ::placeholder {
    color: #e5e5e5;
  }
  
  #but {
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .social {
    margin-top: 30px;
    display: flex;
  }
  
  .social div {
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
    margin-left: 40px;
  }
  
  .social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
  }
  
  .social .fb {
    margin-left: 25px;
  }
  
  .social .go {
    margin-right: 25px;
  }
  
  /* Media Queries */
  
  @media (max-width: 1200px) {
    #loginform {
      width: 40vw;
      height: auto;
      margin-left: -70px;
      margin-top: -80px;
     
     
    }
    .background
    {
        display: none;
    }
    .social
    {
        width: 100%;
        margin-left: -20px;
        padding-bottom: 20px;
        
    }
    
    
  }
  
  @media (max-width: 1200px) {
    #bgc {
      width: 100%;
      height: auto;
      min-height: 100vh;
   
    }
    #loginform {
      width: 40vw;
      height: auto;
      margin-left: -110px; 
     
    }
    .background
    {
        display: none;
    }
   
   
  
    .background {
      width: 100%;
      height: 200px;
      position: relative;
      transform: none;
      left: auto;
      top: auto;
      margin-bottom: 20px;
    }
  
   
  
    #loginform {
      width: 65%;
    margin-top: -70px ;
    }
  
    form h3 {
      font-size: 26px;
    }
  }
  
  /* Add more media queries as needed */
  